<body ng-controller="HomeCtrl">

<div class="row">
	<div class="col-md-12 full-width">

		<div id="home_carousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li ng-repeat="carousel in carousels" data-target="#{{ 'carousel-'.concat($index.toString()) }}" data-slide-to="{{ $index }}" ng-class="{ 'active': $first == true }"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div id="{{ 'carousel-'.concat($index.toString()) }}" ng-class="{ 'active': $first == true }" class="item" ng-repeat="carousel in carousels">
					<img ng-src="{{ carousel.field_carousel_image }}" alt="{{ carousel.title }}">
					<div class="carousel-caption">
						<h3 ng-bind-html="carousel.title"></h3>
					</div>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>


	</div>
</div>

<div class="row content-bottom-pad-md">
	<hr>

	<div class="col-md-12">
		<h2 class="gold">Worship with us</h2>
		<p>Sunday Worship is held at <time>8:45 am</time> on Sundays with <a class="red" href="/#!/ministers">Rev. Corey Ball.</a> Refreshments and fellowship after service. Sunday school/Nursery also available</p>
	</div>
</div>

</body>