/* app css stylesheet */

/* Colours */

.red {
	color: #f4473a;
}

.red:hover {
	color: #f4473ab3;
}

.gold {
	color: rgb(218, 148, 79);
}

.gold:hover {
	color: rgb(230, 201, 172);
}

.white {
    color: #fff;
}

/* Borders */

.border-red {
    border: solid #ed564b;
}

.border-top-md {
    border-top-width: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.border-bottom-md {
    border-bottom-width: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

/* Backgrounds */

.bg-black-light {
    background: #3b3b3b;
}

.bg-black-dark {
    background: #292929;
}

/* Lists */

ul.no-bullet {
    list-style: none;
    padding-left: 0;
}

/* Padding */

.full-width {
    padding-left: 0;
    padding-right: 0;
}

/* fonts */

@font-face {
  font-family: 'willis';
  src: url('/fonts/friz_quadrata_bold-webfont.eot?1436903749');
  src: url('/fonts/friz_quadrata_bold-webfont.eot?&1436903749#iefix') format("embedded-opentype"), url('/fonts/friz_quadrata_bold-webfont.woff2?1436903749') format("woff2"), url('/fonts/friz_quadrata_bold-webfont.woff?1436903749') format("woff"), url('/fonts/friz_quadrata_bold-webfont.ttf?1436903749') format("truetype"), url('/fonts/friz_quadrata_bold-webfont.svg?1436903749#friz_quadratabold') format("svg");
  font-weight: normal;
  font-style: normal;
}

a.navbar-brand {
	font-family: 'willis';
}



/* Quotes */

.quote-card {
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    min-height: 120px;
}
.quote-card p {
    font-size: 16px;
    margin: 0;
    max-width: 80%;
}
.quote-card cite {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
}
.quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}
.quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}

/* Social Media Icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle a {
    background-color: #D3D3D3;
}

/* Padding */

.content-bottom-pad-md {
    padding-bottom: 20px;
}

.content-top-pad-md {
    padding-top: 20px;
}

/* Image Styles */

.img-rounded {
    float: none;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}



/* Timeline Styles */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
    margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
    padding-right:90px;
}

.timeline > li.timeline-inverted {
    padding-left:90px;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ed564b;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}

/* End Timeline Styles */

/* Mobile Styles */
.navbar-toggle .icon-bar {
    background-color: grey;
}